{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="/static/css/timeline.css">
{% endblock %}
{% block javascriptlib %}
    <script type="text/javascript" src="/static/js/bootstrap-treeview.min.js"></script>
{%endblock%}

{% block content %}
<h3>{{ aip_uuid|safe }}</h3>
<p><strong>{{ _('METS File:') }}</strong> {{ mets_file }}</p>

{% if dcmetadata %}
<div class="card bg-light border-secondary mb-3">
<div class="card-header"><h5><a data-toggle="collapse" href="#descMetaDiv" aria-expanded="true" aria-controls="descMetaDiv">{{ _('Descriptive metadata') }}</a></h5>
</div>
<div class="collapse show" id="descMetaDiv">
<div class="card-body">
  {% for element in dcmetadata %}
  {% if element['element'] %}
  {% if element['element'] == 'channel identifier' %}
    <p><strong>{{ gettext(element['element']|title + ':') }}</strong> <span class="rdfTooltip" data-toggle="tooltip">{{ element['value']|safe }}</span></p>
  {% else %}
    <p><strong>{{ gettext(element['element']|title + ':') }}</strong> {{ element['value']|safe }}</p>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>
</div>
</div>

<div class="card bg-light border-secondary mb-3">
<div class="card-header"><h5><a data-toggle="collapse" href="#premisDiv" aria-expanded="true" aria-controls="premisDiv">{{ _('PREMIS Events') }}</a></h5>
</div>
<div class="collapse show" id="premisDiv">
<div class="card-body well">

<div class="main-timeline">
{% for premis_event in dcmetadata %}
{% if premis_event['event'] %}

<div class="timeline">
  <div class="timeline-content">
    <span class="year">{{ premis_event['event_date'] }}</span>
    <h5 class="title"><span class="rdfLabel" lookup="sparprovenance:{{ premis_event['event_type'] }}">{{ premis_event['event_type'] }}</span></h5>
    <p class="description">
{% if premis_event['event_detail'] %}
<strong>{{ _('Event detail:') }}</strong> {{ premis_event['event_detail'] }}<br/>
{% endif %}
{% if premis_event['event_outcome'] %}
<strong>{{ _('Event outcome:') }}</strong> {{ premis_event['event_outcome']|safe }}<br/>
{% endif %}
{% if premis_event['event_detail_note'] %}
<strong>{{ _('Event detail note:') }}</strong> {{ premis_event['event_detail_note']|safe }}<br/>
{% endif %}
{% if premis_event['premis_agents'] %}
  {% for premis_agent in premis_event['premis_agents'] %}
    <strong><span class="rdfLabel" lookup="sparprovenance:has{{ premis_agent['agent_role']|title}}">{{ premis_agent['agent_role'] }}</span> :</strong>
    <span class="rdfTooltip" data-toggle="tooltip">{{ premis_agent['agent_value']|safe }}</span>
    <i>({{ premis_agent['agent_type'] }})</i>
    <br/>
  {% endfor %}
{% endif %}
{% if premis_event['premis_objects'] %}
  {% for premis_object in premis_event['premis_objects'] %}
    <strong><span class="rdfLabel" lookup="sparprovenance:has{{ premis_object['object_role']|title}}">{{ premis_object['object_role'] }}</span> :</strong>
    <span class="rdfTooltip" data-toggle="tooltip">{{ premis_object['object_value']|safe }}</span>
    <i>({{ premis_object['object_type'] }})</i>
    <br/>
  {% endfor %}
{% endif %}
    </p>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>
</div>
{% endif %} <!-- dcmetadata -->

<!-- nav to toggle between Files and Divisions -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#tab1" role="tab" data-toggle="tab"><h5>{{ _('Files (count: %(fc)s)', fc=filecount) }}</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab2" role="tab" data-toggle="tab"><h5>{{ _('Structure information') }}</h5></a>
  </li>
</ul>

<div class="tab-content">
<div role="tabpanel" class="tab-pane fade show active" id="tab1">
<div id="toolbar">
<p><em>{{ _('Click on any column header to sort the table by that value.') }}</em></p>
</div>
<table data-toggle="table" 
      data-toolbar="#toolbar"
      data-icons-prefix="fa"
      data-buttons-class="default"
      data-striped="true"
      data-sortable="true"
      data-search="true"
      data-show-refresh="false"
      data-show-toggle="true"
      data-show-columns="true"
      data-show-export="true"
      data-locale="{{ _('en') }}"
>
<!--      data-icons="{paginationSwitchDown:'fa-toggle-down',paginationSwitchUp:'fa-toggle-up',refresh:'fa-refresh',toggleOff:'fa-list-alt',toggleOn:'fa-list-alt',columns:'fa-th-list',detailOpen:'fa-plus',detailClose:'fa-minus',fullscreen:'fa-arrows-alt',export:'fa-share'}" 
this.options.icons.toggle
-->
<thead>
<tr>
  <th data-sortable="true" data-field="filepath" data-switchable="false">{{ _('Filepath') }}</th>
  <th data-sortable="true" data-field="format">{{ _('Format') }}</th>
  <th data-align="right" data-field="version">{{ _('Version') }}</th>
  <th data-sortable="true" data-field="ark">{{ _('arkFormat') }}</th>
  <th data-sortable="true" data-field="size" data-formatter="sizeFormatter" data-align="right">{{ _('Size (bytes)') }}</th>
  <th data-sortable="true" data-field="use">{{ _('USE') }}</th>
  <th data-sortable="true" data-field="id">{{ _('ID') }}</th>
  <th data-tableexport-display="none">{{ _('Details') }}</th>
</tr>
</thead>
<tbody>
    {% for original_file in original_files %}
        <tr>
          <td>{{ original_file['filepath'] }}</td>
          <td>{{ original_file['format'] }}</td>
          <td>{{ original_file['version'] }}</td>
          <td>{{ original_file['arkFormat']|safe }}</td>
          <td>{{ original_file['bytes'] }}</td>
          <td>{{ original_file['use'] }}</td>
          <td>{{ original_file['id'] }}</td>
          <td data-tableexport-display="none"><a href="/aip/{{ mets_file }}/file/{{ original_file['id'] }}" target="_blank"><button class="btn btn-primary"><span class="fa fa-eye"></span> {{ _('View') }}</button></a></td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div> <!-- tab-pane tab1 -->

<div role="tabpanel" class="tab-pane fade" id="tab2">
  <div id="tree"></div>
</div> <!-- tab-pane tab2 -->
</div>

<br />
<br />

<script>
  function sizeFormatter(value) {
    return String(value).replace(/(.)(?=(\d{3})+$)/g,'$1 ');
  }
  var tree = [
    {% for div in divs %}
    { text: "{{ _(div.level)|capitalize }} {{ div.type|upper }}", href: null, icon: "fa fa-archive", color: "#c47c48",
      selectable: false, state: { expanded: true},
      nodes: [
        {% set div_set = div.child %}
    { text: "{{ _('Level') }} {{ div_set.level|upper }}", href: null, icon: "fa fa-folder", color: "#c47c48",
      selectable: false, state: { expanded: true},
      nodes: [
        {% set div_group = div_set.child %}
    { text: "{{ _('Level') }} {{ div_group.level|upper }}", href: null,
      icon: "fa fa-folder", color: "#c47c48",
      selectable: false, state: { expanded: true},
      nodes: [
        // Metadata at group level (links to the previous section)
        { text: "{{ _('Metadata')|title }}", href: null,
          icon: "fa fa-sticky-note", color: "#ce3c41",
          selectable: false, state: { expanded: false},
          nodes: [
            { text: "{{ _('Descriptive metadata') }}",
              href: "#descMetaDiv",
              icon: "fa fa-sticky-note", color: "#ce3c41", selectable: false },
            { text: "{{ _('PREMIS Events') }}",
              href: "#premisDiv",
              icon: "fa fa-sticky-note", color: "#ce3c41", selectable: false },
          ]
        }, 
        {% for object in div_group.objects %}
        { text: "{{ div.type }}{{ object.order }}", href: null,
          icon: "fa fa-file-archive-o", color: "#bf3fc8", 
          selectable: false, state: { expanded: false},
          {% if (object.orderlabel or object.label or object.title) %}
          tags: ["{{ object.orderlabel or object.label or object.title }}"],
          {% endif %}
          nodes: [
          {% if object.label or object.dcmetadata %}
          { text: "{{ _('Metadata')|title }}", href: null,
            icon: "fa fa-sticky-note", color: "#ce3c41",
            nodes: [
            {% if object.label %}
              { text: "{{ _('Label:') }} {{ object.label }}",
                href: null,
                icon: "fa fa-sticky-note", color: "#ce3c41",
                selectable: false, state: { expanded: false},},
            {% endif %}
            {% for element in object.dcmetadata %}
            {% if element['element'] %}
              { text: "{{ _(element['element']|title + ':') }} {{ element['value'] }}",
                href: null,
                icon: "fa fa-sticky-note", color: "#ce3c41",
                selectable: false, state: { expanded: false},},
            {% endif %}
            {% endfor %}
            ]
          }, 
          {% endif %}
          {% for fid in object['files'] %}
            { text: "{{ fid }}",
              href: "/aip/{{ mets_file }}/file/{{ fid }}",
              icon: "fa fa-file", color:"#8cc43d",
              selectable: false, state: { expanded: true},},
          {% endfor %}
          ]
        },
        {% endfor %}
      ]
      } ] // group
      } ] // set
    },
    {% endfor %}
  ];

  function getTree() {
    return tree;
  }
  //Tree.prototype.template.bagde = '<span class="badge badge-pill badge-light"></span>'
  //.attr('class', node.tagClass)
  var arbre = $('#tree').treeview({
    data: getTree(),
    enableLinks: true,
    showTags: true,
    tagClass: 'badge badge-pill badge-light',
    collapseIcon: 'fa fa-chevron-down',
    expandIcon: 'fa fa-chevron-right',
    emptyIcon: '',
    highlightSelected: false,
    
  })
  
  /*$('.badge').each(function(index, element) {
      $(element).attr("class", "badge badge-pill badge-light")
    })*/
  
  // Enhance the visualisation
  substituteRdfLabel();
  provideRdfTooltip();
</script>
{% endblock %}
