<!DOCTYPE html>
<html>
<head>
    <title>SPAR METS Viewer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <!-- From https://github.com/wenzhixin/bootstrap-table 
      see documentation at http://bootstrap-table.wenzhixin.net.cn/documentation/
    -->
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    {% block stylesheet %}{%endblock%}
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/handlebars.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table-en-US.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table-fr-FR.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-table-export.min.js"></script>
<!--    <script type="text/javascript" src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>-->
    <script type="text/javascript" src="/static/js/tableExport.js"></script>
    <script type="text/javascript" src="/static/js/rdfDecorator.js"></script>
    <script>
      // Handle the active nav item
      $('.navbar-nav .nav-link').click(function() {
        $('.navbar-nav .nav-link').removeClass('active');
        $(this).addClass('active');
      })
      function activeNavItem(item) {
        $('.navbar-nav .nav-link').removeClass('active');
        $('.navbar-nav .nav-link.mv-'+item).addClass('active');
      }
    </script>
    {% block javascriptlib %}{%endblock%}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="/">SPAR METS Viewer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link mv-home active" href="/"><span class="fa fa-home"></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link mv-upload" href="/upload">{{ _('Upload') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mv-explore" href="/explore">{{ _('Exploration') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mv-report" href="/report">{{ _('Report') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mv-reference" href="/referenceInfo">{{ _('Reference') }}</a>
    </li>
  </ul>
  <!--<span class="navbar-text">v3.0</span>-->
  </div>
</nav>
{% if success %}
<div class="alert alert-success">{{ success }}</div>
{% endif %}
{% if error %}
<div class="alert alert-warning">
  <strong>{{ _('Error:') }}</strong> {{ error }}
</div>
{% endif %}
<div class="container">
{% block content %}{% endblock %}
</div>
</body>