{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/bootstrap-select-1.13.1.min.css">
{% endblock %}
{% block javascriptlib %}
    <script type="text/javascript" src="/static/js/myCommons.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-select-1.13.1.min.js"></script>
    <script type="text/javascript" src="/static/js/defaults-en_US-1.13.1.min.js"></script>
    <script type="text/javascript" src="/static/js/defaults-fr_FR-1.13.1.min.js"></script>
{%endblock%}
{% block content %}
  <div class="alert alert-danger" id="alertMsg">
    <strong>{{ _('Error:') }}</strong> <span id="msgerr"></span>
  </div>
  <div class="card mt-2">
  <p class="card-subtitle mx-2 my-1">
    <img src="/static/img/catgen.png" height="24" /> {{ _('SRU search in the BnF main catalog.') }}
  </p>
  <div class="form-group my-1">
    <div class="row mx-1 my-1">
      <label for="doctype" class="control-label col-md-2">{{ _('Type') }}</label>
      <select id="doctype" class="selectpicker show-tick form-control form-control-sm col-md-4">
        <option value="" selected="selected"><i>{{ _('Select a type') }}</i></option>
        <option value="a">Texte imprimé et livre numérique</option>
        <option value="c">Musique notée</option>
        <option value="i">Document iconographique</option>
        <option value="e">Document cartographique</option>
        <option value="g">Enregistrement sonore</option>
        <option value="h">Image animée</option>
        <option value="s">Document électronique</option>
        <option value="r">Multimédia multi support</option>
        <option value="t">Document d'archives et manuscrit</option>
        <option value="o">Objet monétiforme</option>
        <option value="p">Objet non monétiforme</option>
      </select>
      <label for="arkrecord" class="control-label col-md-2">{{ _('Ark record') }}</label>
      <div class="input-group col-md-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="ark-addon">{{ ark_prefix }}</span>
        </div>
        <input type="text" class="form-control form-control-sm col-md-4" name="arkrecord" id="arkrecord" aria-describedby="ark-addon" placeholder="cb316013536" pattern="c[0-9bcdfghijkmnpqrstvwxz]+" title= "{{ _('Valid ARK is in the form cxxxx.') }}" />
      </div>
    </div>
    <div class="row mx-1 my-1">
      <label for="publicationdate" class="control-label col-md-2">{{ _('Publication date') }}</label>
      <input type="text" name="publicationdate" id="publicationdate" class="form-control form-control-sm col-md-4" placeholder="2018" pattern="(-?\d{4})|(\d{4}-(\d{4})?)" title= "{{ _('Valid entry is a year or an interval of years (1900-1910).') }}"/>
    </div>
    <div class="row mx-1 my-1">
      <select for="value1" id="field1" class="selectpicker show-tick form-control form-control-sm col-md-2">
        <option value="all"><i>{{ _('In the record') }}</i></option>
        <option value="title" selected="selected">{{ _('Title') }}</option>
        <option value="creator">{{ _('Creator') }}</option>
      </select>
      <input type="text" name="value1" id="value1" class="form-control form-control-sm col-md-4" placeholder="Impressions de Sicile" />
      <select for="value2" id="field2" class="selectpicker show-tick form-control form-control-sm col-md-2">
        <option value="all"><i>{{ _('In the record') }}</i></option>
        <option value="title">{{ _('Title') }}</option>
        <option value="creator" selected="selected">{{ _('Creator') }}</option>
      </select>
      <input type="text" name="value2" id="value2" class="form-control form-control-sm col-md-4" placeholder="Princesse Wolkonsky" />
    </div>
    <div class="row mx-1 my-1">
      <label for="displayColumns" class="control-label col-md-2">{{ _('Display') }}</label> <!---->
      <select id="displayColumns" class="selectpicker show-tick form-control form-control-sm col-md-4" data-width="75%" data-actions-box="true" multiple="multiple">
        <option value="title">{{ _('Title') }}</option>
        <option value="creator">{{ _('Creator') }}</option>
        <option value="publisher">{{ _('Publisher') }}</option>
        <!--<option value="file_count">{{ _('File count') }}</option>-->
        <!--<option value="size">{{ _('Size') }}</option>-->
        <!--<option value="record_no">{{ _('Record number') }}</option>-->
        <option value="ark_doc">{{ _('Ark document') }}</option>
        <option value="call_no">{{ _('Call number') }}</option>
        <option value="publication_date" selected>{{ _('Publication date') }}</option>
      </select>
    </div>

    <button class="btn btn-primary mx-1 my-1" id="btnSubmit" type="button">{{ _('Submit') }}</button>
  </div>
  </div>
  <hr class="mx-2 my-2" />
  <div id="result">
  <div id="toolbar">
  </div>
  <table id="table"
        data-toolbar="#toolbar"
        data-icons-prefix="fa"
        data-buttons-class="default"
        data-striped="true"
        data-sortable="false"
        data-search="false"
        data-show-refresh="false"
        data-show-toggle="true"
        data-show-columns="false"
        data-show-export="true"
        data-pagination="true"
        data-page-size="10"
        data-page-list="[10, 50, 100, {{ _('All') }}]"
        data-pagination-loop="true"
        data-side-pagination="server"
        data-pagination-v-align="both"
        data-locale="{{ _('en') }}"
        data-unique-id="ark"
        data-method="post"
        data-url="/srucatalogquery"
        data-query-params="queryParams"
        data-response-handler="queryResponseHandler"
  >
  </table>
  <br /><br />
  </div>

  <script>
    var columnsChanged = false
    var fullTotal = undefined
    var $table = $("#table")
    var $button = $("#btnSubmit")
    var $displayColumns = $("#displayColumns")
    var $selectDocType = $("#doctype")

    // onReady function
    $(function () {
        $button.click(function () {
            // Test doctype
            if ($selectDocType.val() == '') {
              showError("{{ _('Select a type') }}");
              return
            }
            if (columnsChanged) {
              // Call refreshOptions to change the columns
              console.log("refreshOptions")
              $table.bootstrapTable('refreshOptions', {
                  //exportOptions: { ignoreColumn: [3] },
                  columns: calculateColumns()
              })
              columnsChanged = false
            }
            $button.attr("disabled", "disabled")
            console.log("showLoading")
            $table.bootstrapTable('showLoading')
            console.log("refresh")
            $table.bootstrapTable('refresh', { pageNumber: 1 })
        });

        // Monitor modification in display columns
        $displayColumns.on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
          fullTotal = undefined
          columnsChanged = true
        });
        // Monitor modification in inputs
        $("#doctype").on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
          fullTotal = undefined
        });
        $("#arkrecord").on("change", function() {
            fullTotal = undefined
        });
        $("#publicationdate").on("change", function() {
            fullTotal = undefined
        });
        $("#value1").on("change", function() {
            fullTotal = undefined
        });
        $("#value2").on("change", function() {
            fullTotal = undefined
        });

        
        activeNavItem('retrieve');
        $("#alertMsg").hide();
        // Initialize the fields
        $("#arkrecord").val("")
        $("#publicationdate").val("")
        $("#value1").val("")
        $("#value2").val("")
        // Initialize the table
        initTable()
     });

    // Function to build the appropriate query
    function queryParams(params) {
      console.log("queryParams begin " + JSON.stringify(params))
      // Get the filters
      params.filter = {}
      params.filter.doc_type = $("#doctype").val()
      if (params.filter.doc_type == '') {
        return false
      }

      var arkrecord = $("#arkrecord").val()
      if (arkrecord) {
        params.filter.arkrecord = "{{ ark_prefix }}" + arkrecord
      }
      var publication_date = $("#publicationdate").val()
      if (publication_date) params.filter.publication_date = publication_date
      var value1 = $("#value1").val()
      if (value1) {
        params.filter.field1 = $("#field1").val()
        params.filter.value1 = value1
      }
      var value2 = $("#value2").val()
      if (value2) {
        params.filter.field2 = $("#field2").val()
        params.filter.value2 = value2
      }

      // Get the columns
      params.columns = ["ark"]
      var columns = $("#displayColumns").val()
      if (columns) {
        params.columns = ["ark"].concat(columns)
      }
      if (fullTotal) {
        params.total = fullTotal
      }

      console.log("queryParams end " + JSON.stringify(params))
      return params
    }
    // Handle the response from the server
    function queryResponseHandler(res) {
      console.log("queryResponseHandler begin " + JSON.stringify(res))
      $button.attr("disabled", null)
              console.log("hideLoading")
      $table.bootstrapTable('hideLoading')
      fullTotal = res.total
      return res;
    }

    function addDetail(value, row, index, field) {
      return '<a href="/upload?ark=' + row['ark'] + '"><button class="btn btn-primary"><span class="fa fa-arrow-circle-down"></span> {{ _("Upload") }}</span></button></a>'
    }
    function addUrlCatalog(value) {
      return '<a href="https://catalogue.bnf.fr/' + value + '" target="display">' + value + '</a>'
    }
    function addUrlGallica(value) {
      if (value == undefined) return value
      var values = value.split(" ; ")
      var links = []
      for (var i=0; i < values.length; i++) {
        links.push('<a href="https://gallica.bnf.fr/' + values[i] + '" target="display">' + values[i] + '</a>')
      }
      return links.join(" ; ")
    }

    function calculateColumns() {
      var columns = [
                    {
                        title: '{{ _("ark")|title }}',
                        field: 'ark',
                        sortable: false,
                        switchable: false,
                        formatter: addUrlCatalog
                    },
      ]
      $("#displayColumns option:selected").each(function(item) {
        var $this = $(this)
        // console.log("Column ", $this.text(), "=", $this.val())
        if ($this.val() == "ark_doc") {
          columns.push({
                          title: $this.text(),
                          field: $this.val(),
                          sortable: false,
                          switchable: false,
                          formatter: addUrlGallica
                      })
        } else {
          columns.push({
                          title: $this.text(),
                          field: $this.val(),
                          sortable: false,
                          switchable: false,
                      })
        }
      })
      /*
      columns.push({
        title: '{{ _("details")|title }}',
        field: 'details',
        valign: 'middle',
        'tableexport-display': 'none',
        sortable: false,
        align: 'right',
        formatter: addDetail
      })
      */
      return columns
    }

    function initTable() {
        $table.bootstrapTable({
            //exportOptions: { ignoreColumn: [3] },
            columns: calculateColumns()
        })
    }

</script>
{% endblock %}


