{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/bootstrap-select-1.13.1.min.css">
{% endblock %}
{% block javascriptlib %}
    <script type="text/javascript" src="/static/js/bootstrap-select-1.13.1.min.js"></script>
{%endblock%}
{% block content %}
  <div class="alert alert-danger" id="alertMsg">
    <strong>{{ _('Error:') }}</strong> <span id="msgerr"></span>
  </div>
  <div class="card mt-2">
  <p class="card-subtitle mx-2 my-1">
  {{ _('Select a reference to get back the information from the platform %(platform)s.', platform=access_platform) }}
  </p>
  <div class="form-group my-1">
    <div class="row mx-1 my-1">
      <label for="reference" class="control-label col-md-2">{{ _('Reference') }}</label>
      <select id="reference" class="selectpicker show-tick form-control form-control-sm col-md-4">
        <option value="" selected="selected"><i>{{ _('Select a reference') }}</i></option>
        <optgroup label="{{ _('General') }}">
        <option value="channel">{{ _('Channels') }}</option>
        <option value="use">{{ _('Uses') }}</option>
        <option value="type">{{ _('Types') }}</option>
        <option value="event">{{ _('Events') }}</option>
        </optgroup>
        <optgroup label="{{ _('Formats') }}">
          <option value="knownFormat">{{ _('Known formats') }}</option>
          <option value="managedFormat">{{ _('Managed formats') }}</option>
        </optgroup>
        <optgroup label="{{ _('Tools') }}">
          <option value="identificationTool">{{ _('Identification tools') }}</option>
          <option value="characterizationTool">{{ _('Characterization tools') }}</option>
          <option value="validationTool">{{ _('Validation tools') }}</option>
        </optgroup>
      </select>
    </div>
    <button class="btn btn-primary mx-1 mt-1" id="btnSubmit" type="button">{{ _('Submit') }}</button>
  </div>
  </div>
  <hr class="mx-2 my-2" />
  <div id="result">
  <div id="toolbar">
  </div>
  <table id="table"
        data-toolbar="#toolbar"
        data-icons-prefix="fa"
        data-buttons-class="default"
        data-striped="true"
        data-sortable="true"
        data-search="true"
        data-show-refresh="false"
        data-show-toggle="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-fullscreen="false"
        data-pagination="false"
        data-page-size="INFINITE"
        data-page-list="[50, 100, 500]"
        data-pagination-loop="true"
        data-side-pagination="client"
        data-pagination-v-align="both"
        data-locale="{{ _('en') }}"
        data-unique-id="id"
        data-method="get"
        data-url="/reference"
        data-query-params="queryParams"
        data-response-handler="queryResponseHandler"
  >
 </table>
  <br/><br />
  </div>

  <script>
    var $table = $("#table")
    var $button = $("#btnSubmit")
    var $selectReference = $("#reference")
    var init = true
    function showError(msg) {
        $("#msgerr").text(msg)
        $("#alertMsg").fadeTo(2000, 500).slideUp(500, function() {
          $("#alertMsg").slideUp(500);
        });
    }
    
    // onReady function
    $(function () {
        init = true
        activeNavItem('reference');
         $("#alertMsg").hide();

        $button.click(function () {
            $table.bootstrapTable('resetSearch')
            $table.bootstrapTable('refresh', { pageNumber: 1 })
        });
        
        /*
        $("#reference").on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
            $table.bootstrapTable('resetSearch')
        });
        */
        
        // Initialize the table
        initTable()
     });
     
    // Function to build the appropriate query
    function queryParams(params) {
      console.log("queryParams begin " + JSON.stringify(params))
      // Get the filters
      params.kind = $selectReference.val()
      if (params.kind == '') {
        if (init) {
          init = false
        } else {
          // Display an error
          showError("{{ _('Select a reference') }}")
        }
        return false
      }
      
      console.log("queryParams end " + JSON.stringify(params))
      $button.attr("disabled", "disabled")
      $table.bootstrapTable('showLoading')
      return params
    }
    // Handle the response from the server
    function queryResponseHandler(res) {
      // console.log("queryResponseHandler begin " + JSON.stringify(res))
      $button.attr("disabled", null)
      $table.bootstrapTable('hideLoading')
      return res;
    }
    
    function initTable() {
        $table.bootstrapTable({
            //exportOptions: { ignoreColumn: [3] },
            columns: 
                [
                    {
                        title: '{{ _("label")|title }}',
                        field: 'label',
                        sortable: true,
                        switchable: false,
                    }, {
                        title: '{{ _("id")|title }}',
                        field: 'id',
                        sortable: true,
                        switchable: true,
                    }, {
                        title: '{{ _("title")|title }}',
                        field: 'title',
                        sortable: true,
                        switchable: true,
                    }, {
                        title: '{{ _("description")|title }}',
                        field: 'desc',
                        sortable: true,
                        switchable: true,
                    },
                ]
        })
    }

</script>
{% endblock %}


