{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
    <!-- 
      Correct bootstrap-select bug 
      https://github.com/silviomoreto/bootstrap-select/issues/1135
    -->
    <style type="text/css">
    .open > .dropdown-menu { display: block; }
    </style>
{% endblock %}
{% block javascriptlib %}
    <script type="text/javascript" src="/static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/static/js/defaults-en_US.min.js"></script>
    <script type="text/javascript" src="/static/js/defaults-fr_FR.min.js"></script>
{%endblock%}
{% block content %}
  <div class="alert alert-danger" id="alertMsg">
    <strong>{{ _('Error:') }}</strong> <span id="msgerr"></span>
  </div>
  <div class="well">
  <p>{{ _('Select a reference to get back the information from the platform %(platform)s.', platform=access_platform) }}</p>
  </div>
 
  <div class="form-control">
    <div class="form-group row">
      <label for="reference" class="control-label col-md-2">{{ _('Reference') }}</label>
      <select id="reference" class="selectpicker">
        <option value="" selected="selected"><i>{{ _('Select a reference') }}</i></option>
        <option value="channel">{{ _('Channels') }}</option>
        <option value="use">{{ _('Uses') }}</option>
        <option value="event">{{ _('Events') }}</option>
      </select>
    </div>
    <button class="btn btn-primary" id="btnSubmit" type="button">{{ _('Submit') }}</button>
  </div>
  <hr />
  <div id="result">
  <div id="toolbar">
  </div>
  <table id="table"
        data-toolbar="#toolbar"
        data-icons-prefix="fa"
        data-buttons-class="default"
        data-striped="true"
        data-sortable="true"
        data-search="true"
        data-show-refresh="false"
        data-show-toggle="true"
        data-show-columns="true"
        data-show-export="true"
        data-show-fullscreen="false"
        data-pagination="false"
        data-page-size="INFINITE"
        data-page-list="[50, 100, 500]"
        data-pagination-loop="true"
        data-side-pagination="client"
        data-pagination-v-align="both"
        data-locale="{{ _('en') }}"
        data-unique-id="id"
        data-method="get"
        data-url="/reference"
        data-query-params="queryParams"
        data-response-handler="queryResponseHandler"
  >
 </table>
  <br/><br />
  </div>

  <script>
    var $table = $("#table")
    var $button = $("#btnSubmit")
    var $selectReference = $("#reference")
    function showAlert() {
        $("#alertMsg").fadeTo(2000, 500).slideUp(500, function() {
          $("#alertMsg").slideUp(500);
        });
    }
    
    // onReady function
    $(function () {
        activeNavItem('reference');
         $("#alertMsg").hide();

        $button.click(function () {
            $table.bootstrapTable('resetSearch')
            $table.bootstrapTable('refresh', { pageNumber: 1 })
        });
        
        /*
        $("#reference").on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
            $table.bootstrapTable('resetSearch')
        });
        */
        
        // Initialize the table
        initTable()
     });
     
    // Function to build the appropriate query
    function queryParams(params) {
      console.log("queryParams begin " + JSON.stringify(params))
      // Get the filters
      params.kind = $selectReference.val()
      if (params.kind == '') {
        // Display an error
        $("#msgerr").text("{{ _('Select a reference') }}")
        showAlert();
        return false
      }
      
      console.log("queryParams end " + JSON.stringify(params))
      $button.attr("disabled", "disabled")
      $table.bootstrapTable('showLoading')
      return params
    }
    // Handle the response from the server
    function queryResponseHandler(res) {
      // console.log("queryResponseHandler begin " + JSON.stringify(res))
      $button.attr("disabled", null)
      $table.bootstrapTable('hideLoading')
      return res;
    }
    
    function initTable() {
        $table.bootstrapTable({
            //exportOptions: { ignoreColumn: [3] },
            columns: 
                [
                    {
                        title: '{{ _("label")|title }}',
                        field: 'label',
                        sortable: true,
                        switchable: false,
                    }, {
                        title: '{{ _("id")|title }}',
                        field: 'id',
                        sortable: true,
                        switchable: true,
                    }, {
                        title: '{{ _("title")|title }}',
                        field: 'title',
                        sortable: true,
                        switchable: true,
                    }, {
                        title: '{{ _("description")|title }}',
                        field: 'desc',
                        sortable: true,
                        switchable: true,
                    },
                ]
        })
    }

</script>
{% endblock %}


