{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/bootstrap-select-1.13.1.min.css">
{% endblock %}
{% block javascriptlib %}
    <script type="text/javascript" src="/static/js/myCommons.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-select-1.13.1.min.js"></script>
{%endblock%}
{% block content %}
  <div class="alert alert-danger" id="alertMsg">
    <strong>{{ _('Error:') }}</strong> <span id="msgerr"></span>
  </div>
  <div class="card mt-2">
  <p class="card-subtitle mx-2 my-1">
  {{ _('Fill in the fields to generate a report on the platform %(platform)s.', platform=access_platform) }}
  </p>
  <div class="form-group my-1">
    <div class="row mx-1 my-1">
      <label for="channel" class="control-label col-md-2">{{ _('Channel') }}</label>
      <select id="channel" class="selectpicker show-tick form-control form-control-sm col-md-4">
        <option value="" selected="selected"><i>{{ _('Select a channel') }}</i></option>
        {% for channel in channels %}
        <option value="{{ channel.id }}">{{ channel.label }}</option>
        {% endfor %}
      </select>
      <label for="period" class="control-label col-md-2">{{ _('Period') }}</label>
      <input type="text" name="period" id="period" class="form-control form-control-sm col-md-4" placeholder="2018-06" pattern="(\d{4}(-\d{2}(-\d{2})?)?)" title= "{{ _('Valid period is year (2018) or month (2018-06).') }}"/>
    </div>
    <button class="btn btn-primary mx-1 mt-1" id="btnSubmit" type="button">{{ _('Submit') }}</button>
  </div>
  </div>
  <hr class="mx-2 my-2" />
  <div id="result">
  <div id="toolbar">
  <p><em>{{ _('Click on any column header to sort the table by that value.') }}</em></p>
  </div>
  <table id="table"
        data-toolbar="#toolbar"
        data-icons-prefix="fa"
        data-buttons-class="default"
        data-striped="true"
        data-sortable="true"
        data-search="true"
        data-show-refresh="false"
        data-show-toggle="true"
        data-card-view="true"
        data-show-columns="false"
        data-show-export="true"
        data-pagination="false"
        data-only-info-pagination="true"
        data-pagination-v-align="both"
        data-locale="{{ _('en') }}"
        data-unique-id="channel"
  >
  </table>
  <br/><br />
  </div>

  <script>
    var units = ['{{ _("bytes") }}', '{{ _("KB") }}', '{{ _("MB") }}', '{{ _("GB") }}', '{{ _("TB") }}']
    var $table = $("#table")
    var $button = $("#btnSubmit")
    $(function () {
        $button.click(function () {
            exec()
            //$table.bootstrapTable('load', exec());
        });
    });
    
    function initTable() {
        $table.bootstrapTable({
            exportOptions: { ignoreColumn: [3] },
            columns:
                [
                    {
                        title: '{{ _("channel")|title }}',
                        field: 'channel',
                        sortable: true,
                        align: 'left',
                        switchable: false,
                    }, {
                        title: '{{ _("packages")|title }}',
                        field: 'packages',
                        sortable: true,
                        align: 'right',
                        formatter: numberFormatter,
                        switchable: false,
                    }, {
                        title: '{{ _("files")|title }}',
                        field: 'files',
                        align: 'right',
                        formatter: numberFormatter,
                        sortable: true,
                    }, {
                        title: '{{ _("size")|title }}',
                        field: 'size',
                        sortable: true,
                        align: 'right',
                        formatter: sizeFormatter,
                    }
                ],
        })
    };
    function exec() {
      var endpoint = "/query"
      // Retrieve the fields
      var channel = $("#channel").val()
      if (channel == "") {
        // Display an error
        showError("{{ _('Select a channel') }}");
        return
      }
      var period = $("#period").val()
      // Disable the controls
      $button.attr("disabled", "disabled")
      $table.bootstrapTable('showLoading')
      
      // Build the SPARQL
      var sparql = "SELECT " +
        " (STRAFTER(STR(?uri), 'context/') AS ?channel) " +
        " (COUNT(?p) AS ?packages) (SUM(xsd:integer(?n_files)) AS ?files) " +
        " (SUM(xsd:integer(?size_p)) AS ?size) " +
        "WHERE { " +
        " { SELECT ?uri ?p ?n_files ?size_p " + (period?"(max(?date) AS ?dc) ":"") +
        "   WHERE { GRAPH ?g { "+
        "     ?p sparcontext:isMemberOf ?c." +
        "     OPTIONAL { ?p sparfixity:size ?size_p } "+
        "     OPTIONAL { ?p sparfixity:fileCount ?n_files } "+
        (period?"     ?p sparprovenance:hasEvent ?e. ?e a sparprovenance:ingestCompletion.":"") +
        (period?"     ?e dc:date ?date.":"") +
        "   }" +
        "   ?c a sparcontext:channel. ?c owl:sameAs ?uri." +
        "   VALUES ?c { <" + channel + ">}" +
        " } }" +
        (period ?" FILTER (STRSTARTS(STR(?dc), '" + period + "'))":"") +
        " } LIMIT 10"
      console.log("SPARQL [" + endpoint + "]: " + sparql)

      // Launch the query and invoke render() when results arrived
      $.getJSON(endpoint, { query: sparql }).done(render)
    }
    
    function render(json) {
      $button.attr("disabled", null)
      $table.bootstrapTable('hideLoading')

      $table.bootstrapTable('load', json)
    }
    // 
    
    $(function () {
        activeNavItem('report');
        $("#alertMsg").hide();
        initTable();
    });
  </script>
{% endblock %}


