{% extends "base.html" %}
{% block content %}
  <div class="well">
  <p>{{ _('Fill in the fields to generate a report on the platform %(platform)s.', platform=access_platform) }}</p>
  </div>
 
  <div class="form-control">
    <div class="form-group">
      <label for="channel" class="control-label col-md-2">{{ _('Channel') }}</label>
      <!--
SELECT ?c (STRAFTER(STR(?uri), "context/") AS ?alias) WHERE {
  ?c a sparcontext:channel.
  ?c owl:sameAs ?uri.
} ORDER BY ?uri LIMIT 100
      -->
      <select id="channel" class="control-label col-md-4">
        <option value="ark:/12148/br2d2f5z">fil_addn_a</option>
        <option value="ark:/12148/br2d2f66">fil_addn_b</option>
        <option value="ark:/12148/br2d26qc">fil_aud_b</option>
        <option value="ark:/12148/br2d2bzw">fil_aud_d</option>
        <option value="ark:/12148/br2d28qs">fil_dl_auto_cac</option>
        <option value="ark:/12148/br2d28r1">fil_dl_auto_cia</option>
        <option value="ark:/12148/br2d28s8">fil_dl_auto_his</option>
        <option value="ark:/12148/br2d28th">fil_dl_auto_htt</option>
        <option value="ark:/12148/br2d28pj">fil_dl_auto_nas</option>
        <option value="ark:/12148/br2d293n">fil_dl_nego_agf01</option>
        <option value="ark:/12148/br2d2c88">fil_dl_nego_livnum_a</option>
        <option value="ark:/12148/br2d2c9h">fil_dl_nego_livnum_b</option>
        <option value="ark:/12148/br2d22g" selected="selected">fil_num_cons_a</option>
        <option value="ark:/12148/br2d2bxn">fil_num_cons_b</option>
        <option value="ark:/12148/br2d2csw">fil_num_cons_c</option>
        <option value="ark:/12148/br2d2f10">fil_num_cons_d</option>
        <option value="ark:/12148/br2d2f27">fil_num_cons_e</option>
        <option value="ark:/12148/br2d2f8p">fil_num_cons_f</option>
        <option value="ark:/12148/br2d2b1c">fil_prod_adm_a</option>
        <option value="ark:/12148/br2d230p">fil_ref_agent</option>
        <option value="ark:/12148/br2d231x">fil_ref_channel</option>
        <option value="ark:/12148/br2d26rm">fil_ref_collection</option>
        <option value="ark:/12148/br2d22z7">fil_ref_format</option>
        <option value="ark:/12148/br2d2325">fil_ref_ontology</option>
        <option value="ark:/12148/br2d2c2t">fil_ref_test</option>
        <option value="ark:/12148/br2d290x">fil_ta_cnacgp01</option>
        <option value="ark:/12148/br2d2cd7">fil_ta_mnpp01</option>
        <option value="ark:/12148/br2d2dkn">fil_ta_mqb01</option>
      </select>
    </div>
    <div class="form-group">
      <label for="period" class="control-label col-md-2">{{ _('Période') }}</label>
      <input type="text" name="period" id="period" class="col-md-4" placeholder="2018-06" pattern="(\d{4}(-\d{2})?)" title= "{{ _('Valid period is year (2018) or month (2018-06).') }}"/>
    </div>
    <button class="btn btn-primary" id="btnSubmit" type="button">{{ _('Submit') }}</button>
  </div>
  <hr />
  <div id="result">
  <div id="toolbar">
  <p><em>{{ _('Click on any column header to sort the table by that value.') }}</em></p>
  </div>
  <table id="table"
        data-toolbar="#toolbar"
        data-icons-prefix="fa"
        data-buttons-class="default"
        data-striped="true"
        data-sortable="true"
        data-search="true"
        data-show-refresh="false"
        data-show-toggle="true"
        data-card-view="true"
        data-show-columns="false"
        data-show-export="true"
        data-pagination="false"
        data-only-info-pagination="true"
        data-pagination-v-align="both"
        data-locale="{{ _('en') }}"
        data-unique-id="channel"
  >
  </table>
  <br/><br />
  </div>

  <script>
    var $table = $("#table")
    var $button = $("#btnSubmit")
    $(function () {
        $button.click(function () {
            exec()
            //$table.bootstrapTable('load', exec());
        });
    });
    
    function numberFormatter(value) {
      return String(value).replace(/(.)(?=(\d{3})+$)/g,'$1 ');
    }

    function sizeFormatter(value) {
      var units = ['{{ _("bytes") }}', '{{ _("KB") }}', '{{ _("MB") }}', '{{ _("GB") }}', '{{ _("TB") }}']
      if (value == 0) return '0';
      var i = parseInt(Math.floor(Math.log(value) / Math.log(1000)));
      var r = (value / Math.pow(1000, i));
      if (r >= 99.995 ||  i == 0) {
        return r.toFixed(0) + ' ' + units[i];
      } else {
        return r.toFixed(2) + ' ' + units[i];
      }
    }
    
    function initTable() {
        $table.bootstrapTable({
            exportOptions: { ignoreColumn: [3] },
            columns:
                [
                    {
                        title: '{{ _("channel")|title }}',
                        field: 'channel',
                        sortable: true,
                        align: 'left',
                        switchable: false,
                    }, {
                        title: '{{ _("packages")|title }}',
                        field: 'packages',
                        sortable: true,
                        align: 'right',
                        formatter: numberFormatter,
                        switchable: false,
                    }, {
                        title: '{{ _("files")|title }}',
                        field: 'files',
                        align: 'right',
                        formatter: numberFormatter,
                        sortable: true,
                    }, {
                        title: '{{ _("size")|title }}',
                        field: 'size',
                        sortable: true,
                        align: 'right',
                        formatter: sizeFormatter,
                    }
                ],
        })
    };

    function exec() {
      $button.attr("disabled", "disabled")
      $table.bootstrapTable('showLoading')
      
      var endpoint = "/query"
      // Retrieve the fields
      var channel = $("#channel").val()
      var period = $("#period").val()
      // Build the SPARQL
      var sparql = "SELECT " +
        " (STRAFTER(STR(?uri), 'context/') AS ?channel) " +
        " (COUNT(?p) AS ?packages) (SUM(xsd:integer(?n_files)) AS ?files) " +
        " (SUM(xsd:integer(?size_p)) AS ?size) " +
        "WHERE { " +
        " { SELECT ?uri ?p ?n_files ?size_p " + (period?"(max(?date) AS ?dc) ":"") +
        "   WHERE { GRAPH ?g { "+
        "     ?p sparcontext:isMemberOf ?c." +
        "     OPTIONAL { ?p sparfixity:size ?size_p } "+
        "     OPTIONAL { ?p sparfixity:fileCount ?n_files } "+
        (period?"     ?p sparprovenance:hasEvent ?e. ?e a sparprovenance:ingestCompletion.":"") +
        (period?"     ?e dc:date ?date.":"") +
        "   }" +
        "   ?c a sparcontext:channel. ?c owl:sameAs ?uri." +
        "   VALUES ?c { <" + channel + ">}" +
        " } }" +
        (period ?" FILTER (STRSTARTS(STR(?dc), '" + period + "'))":"") +
        " } LIMIT 10"
      console.log("SPARQL [" + endpoint + "]: " + sparql)

      // Launch the query and invoke render() when results arrived
      $.getJSON(endpoint, { query: sparql }).done(render)
    }
    
    function render(json) {
      $button.attr("disabled", null)
      $table.bootstrapTable('hideLoading')

      $table.bootstrapTable('load', json)
    }
    // 
    
    $(function () {
        initTable();
    });
  </script>
{% endblock %}


