{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/bootstrap-select-1.13.1.min.css">
{% endblock %}
{% block javascriptlib %}
    <script type="text/javascript" src="/static/js/bootstrap-select-1.13.1.min.js"></script>
    <script type="text/javascript" src="/static/js/defaults-en_US-1.13.1.min.js"></script>
    <script type="text/javascript" src="/static/js/defaults-fr_FR-1.13.1.min.js"></script>
{%endblock%}
{% block content %}
  <div class="card mt-2">
  <p class="card-subtitle mx-2 my-1">
  {{ _('Fill in the fields to retrieve information on the platform %(platform)s.', platform=access_platform) }}
  </p>
  <div class="form-group my-1">
    <div class="row mx-1 my-1">
      <label for="channel" class="control-label col-md-2">{{ _('Channel') }}</label>
      <select id="channel" class="selectpicker show-tick form-control form-control-sm col-md-4">
        <option value="" selected="selected"><i>{{ _('Select a channel') }}</i></option>
        {% for channel in channels %}
        <option value="{{ channel.id }}">{{ channel.label }}</option>
        {% endfor %}
      </select>
      <label for="period" class="control-label col-md-2">{{ _('Period') }}</label>
      <input type="text" name="period" id="period" class="form-control form-control-sm col-md-4" placeholder="2018-06" pattern="(\d{4}(-\d{2})?(-\d{2})?)" title= "{{ _('Valid period is year (2018) or month (2018-06).') }}"/>
    </div>
    <div class="row mx-1 my-1">
      <label for="displayColumns" class="control-label col-md-2">{{ _('Display') }}</label> <!---->
      <select id="displayColumns" class="selectpicker show-tick form-control form-control-sm col-md-4" data-width="75%" data-actions-box="true" multiple="multiple">
        <option value="title">{{ _('Title') }}</option>
        <!--<option value="creator">{{ _('Creator') }}</option>-->
        <option value="file_count">{{ _('File count') }}</option>
        <option value="size">{{ _('Size') }}</option>
        <option value="record_no">{{ _('Record number') }}</option>
        <option value="call_no">{{ _('Call number') }}</option>
        <option value="ingest_date" selected>{{ _('Ingest date') }}</option>
      </select>
    </div>

    <button class="btn btn-primary mx-1 my-1" id="btnSubmit" type="button">{{ _('Submit') }}</button>
  </div>
  </div>
  <hr class="mx-2 my-2" />
  <div id="result">
  <div id="toolbar">
  </div>
  <table id="table"
        data-toolbar="#toolbar"
        data-icons-prefix="fa"
        data-buttons-class="default"
        data-striped="true"
        data-sortable="false"
        data-search="false"
        data-show-refresh="false"
        data-show-toggle="true"
        data-show-columns="false"
        data-show-export="true"
        data-pagination="true"
        data-page-size="50"
        data-page-list="[50, 100, 500]"
        data-pagination-loop="true"
        data-side-pagination="server"
        data-pagination-v-align="both"
        data-locale="{{ _('en') }}"
        data-unique-id="ark"
        data-method="post"
        data-url="/customquery"
        data-query-params="queryParams"
        data-response-handler="queryResponseHandler"
  >
  </table>
  <br/><br />
  </div>

  <script>
    var columnsChanged = false
    var fullTotal = undefined
    var $table = $("#table")
    var $button = $("#btnSubmit")
    var $displayColumns = $("#displayColumns")
    var $selectChannel = $("#channel")

    function getCurrentYearMonth() {
      function pad(num) {
        if (num < 10) { return '0' + num; } else { return num; }
      }
      var d = new Date();
      return d.getFullYear() + '-' + pad(d.getMonth() + 1);
    }

    // onReady function
    $(function () {
        $button.click(function () {
            if (columnsChanged) {
              // Call refreshOptions to change the columns
              $table.bootstrapTable('refreshOptions', {
                  //exportOptions: { ignoreColumn: [3] },
                  columns: calculateColumns()
              })
              columnsChanged = false
            }
            $table.bootstrapTable('refresh', { pageNumber: 1 })
        });

        // Monitor modification in display columns
        $displayColumns.on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
          fullTotal = undefined
          columnsChanged = true
        });
        // Monitor modification in period
        $("#period").on("change", function() {
            fullTotal = undefined
        });
        $("#channel").on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
          fullTotal = undefined
        });

        // Initialize the fields
        $("#period").val(getCurrentYearMonth())
        // Initialize the table
        initTable()
     });

    // Function to build the appropriate query
    function queryParams(params) {
      console.log("queryParams begin " + JSON.stringify(params))
      // Get the filters
      params.filter = {}
      params.filter.channel = $("#channel").val()
      if (params.filter.channel == '') {
        // $("#channel").addClass('btn-danger')
        return false
      }

      var period = $("#period").val()
      if (period) params.filter.period = period
      // Get the columns
      params.columns = ["ark"]
      var columns = $("#displayColumns").val()
      if (columns) {
        params.columns = ["ark"].concat(columns)
      }
      if (fullTotal) {
        params.total = fullTotal
      }

      console.log("queryParams end " + JSON.stringify(params))
      $button.attr("disabled", "disabled")
      $table.bootstrapTable('showLoading')
      return params
    }
    // Handle the response from the server
    function queryResponseHandler(res) {
      console.log("queryResponseHandler begin " + JSON.stringify(res))
      $button.attr("disabled", null)
      $table.bootstrapTable('hideLoading')
      fullTotal = res.total
      return res;
    }

    function addDetail(value, row, index, field) {
      return '<a href="/upload?ark=' + row['ark'] + '"><button class="btn btn-primary"><span class="fa fa-arrow-circle-down"></span> {{ _("Upload") }}</span></button></a>'
    }

    function calculateColumns() {
      var columns = [
                    {
                        title: '{{ _("ark")|title }}',
                        field: 'ark',
                        sortable: false,
                        switchable: false,
                    },
      ]
      $("#displayColumns option:selected").each(function(item) {
        var $this = $(this)
        // console.log("Column ", $this.text(), "=", $this.val())
        columns.push({
                        title: $this.text(),
                        field: $this.val(),
                        sortable: false,
                        switchable: false,
                    })
      })
      /*
      columns.push({
        title: '{{ _("details")|title }}',
        field: 'details',
        valign: 'middle',
        'tableexport-display': 'none',
        sortable: false,
        align: 'right',
        formatter: addDetail
      })
      */
      return columns
    }

    function initTable() {
        $table.bootstrapTable({
            //exportOptions: { ignoreColumn: [3] },
            columns: calculateColumns()
        })
    }

</script>
{% endblock %}


