{% extends "base.html" %}
{% block content %}
  <div class="well">
  <p>{{ _('Fill in the fields to retrieve information on the platform %(platform)s.', platform=access_platform) }}</p>
  </div>
 
  <div class="form-control">
    <div class="form-group row">
      <label for="channel" class="control-label col-md-2">{{ _('Channel') }}</label>
      <!--
SELECT ?c (STRAFTER(STR(?uri), "context/") AS ?alias) WHERE {
  ?c a sparcontext:channel.
  ?c owl:sameAs ?uri.
} ORDER BY ?uri LIMIT 100
      -->
      <select id="channel" class="control-label col-md-4">
        <option value="ark:/12148/br2d2f5z">fil_addn_a</option>
        <option value="ark:/12148/br2d2f66">fil_addn_b</option>
        <option value="ark:/12148/br2d26qc">fil_aud_b</option>
        <option value="ark:/12148/br2d2bzw">fil_aud_d</option>
        <option value="ark:/12148/br2d28qs">fil_dl_auto_cac</option>
        <option value="ark:/12148/br2d28r1">fil_dl_auto_cia</option>
        <option value="ark:/12148/br2d28s8">fil_dl_auto_his</option>
        <option value="ark:/12148/br2d28th">fil_dl_auto_htt</option>
        <option value="ark:/12148/br2d28pj">fil_dl_auto_nas</option>
        <option value="ark:/12148/br2d293n">fil_dl_nego_agf01</option>
        <option value="ark:/12148/br2d2c88">fil_dl_nego_livnum_a</option>
        <option value="ark:/12148/br2d2c9h">fil_dl_nego_livnum_b</option>
        <option value="ark:/12148/br2d22g" selected="selected">fil_num_cons_a</option>
        <option value="ark:/12148/br2d2bxn">fil_num_cons_b</option>
        <option value="ark:/12148/br2d2csw">fil_num_cons_c</option>
        <option value="ark:/12148/br2d2f10">fil_num_cons_d</option>
        <option value="ark:/12148/br2d2f27">fil_num_cons_e</option>
        <option value="ark:/12148/br2d2f8p">fil_num_cons_f</option>
        <option value="ark:/12148/br2d2b1c">fil_prod_adm_a</option>
        <option value="ark:/12148/br2d230p">fil_ref_agent</option>
        <option value="ark:/12148/br2d231x">fil_ref_channel</option>
        <option value="ark:/12148/br2d26rm">fil_ref_collection</option>
        <option value="ark:/12148/br2d22z7">fil_ref_format</option>
        <option value="ark:/12148/br2d2325">fil_ref_ontology</option>
        <option value="ark:/12148/br2d2c2t">fil_ref_test</option>
        <option value="ark:/12148/br2d290x">fil_ta_cnacgp01</option>
        <option value="ark:/12148/br2d2cd7">fil_ta_mnpp01</option>
        <option value="ark:/12148/br2d2dkn">fil_ta_mqb01</option>
      </select>
    <!--</div>
    <div class="form-group">-->
      <label for="origin_id" class="control-label col-md-2">{{ _('Origin identifier') }}</label>
      <input type="text" name="origin_id" id="origin_id" class="col-md-4" placeholder="206840"/>
    </div>
    <div class="form-group row">
      <label for="title" class="control-label col-md-2">{{ _('Title') }}</label>
      <input type="text" name="title" id="title" class="col-md-4" placeholder="Mon titre"/>
    <!--</div>
    <div class="form-group">-->
      <label for="type" class="control-label col-md-2">{{ _('Type') }}</label>
      <input type="text" name="type" id="type" class="col-md-4" placeholder="monograph"/>
    </div>
    <div class="form-group">
      <label for="period" class="control-label col-md-2">{{ _('Period') }}</label>
      <input type="text" name="period" id="period" class="col-md-4" placeholder="2018-06" pattern="(\d{4}(-\d{2})?)" title= "{{ _('Valid period is year (2018) or month (2018-06).') }}"/>
    </div>
    <button class="btn btn-primary" id="btnSubmit" type="button">{{ _('Submit') }}</button>
  </div>
  <hr />
  <div id="result">
  <div id="toolbar">
  <p><em>{{ _('Click on any column header to sort the table by that value.') }}</em></p>
  </div>
  <table id="table"
        data-toolbar="#toolbar"
        data-icons-prefix="fa"
        data-buttons-class="default"
        data-striped="true"
        data-sortable="true"
        data-search="false"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-show-export="true"
        data-pagination="true"
        data-side-pagination="server"
        data-pagination-v-align="both"
        data-locale="{{ _('en') }}"
        data-unique-id="ark"
        data-method="post"
        data-url="/customquery"
        data-query-params="queryParams"
  >
  </table>
  <br/><br />
  </div>

  <script>
    var $table = $("#table")
    var $button = $("#btnSubmit")
    $(function () {
        $button.click(function () {
            //exec()
            $table.bootstrapTable('refresh');
        });
    });
    function queryParams(params) {
      console.log("queryParams" + params)
      // Get the filters
      params.filter = {}
      params.filter.channel = $("#channel").val()
      var originId = $("#origin_id").val()
      if (originId) {
        params.filter.originId = originId
      }
      var type = $("#type").val()
      if (type) params.filter.type = type
      var title = $("#title").val()
      if (title) params.filter.title = title
      var period = $("#period").val()
      if (period) params.filter.period = period
      // Get the columns
      
      console.log("queryParams " + JSON.stringify(params))
      return params
    }
    
    function addDetail(value, row, index, field) {
      return '<a href="/upload?ark=' + row['ark'] + '"><button class="btn btn-primary"><span class="fa fa-arrow-circle-down"></span> {{ _("Upload") }}</span></button></a>'
    }

    function initTable() {
        $table.bootstrapTable({
            exportOptions: { ignoreColumn: [3] },
            columns:
                [
                    {
                        title: '{{ _("ark")|title }}',
                        field: 'ark',
                        sortable: true,
                        switchable: false,
                    }, {
                        title: '{{ _("identifier")|title }}',
                        field: 'identifiant',
                        sortable: true,
                    }, {
                        title: '{{ _("title")|title }}',
                        field: 'titre',
                        sortable: true,
                    }, {
                        title: '{{ _("details")|title }}',
                        field: 'details',
                        valign: 'middle',
                        'tableexport-display': 'none',
                        sortable: false,
                        align: 'right', 
                        formatter: addDetail
                    }
                ],
        })
    };

    function exec() {
      $button.attr("disabled", "disabled")
      $table.bootstrapTable('showLoading')
      
      var endpoint = "/query"
      // Retrieve the fields
      var channel = $("#channel").val()
      var originId = $("#origin_id").val()
      var type = $("#type").val()
      var title = $("#title").val()
      // Build the SPARQL
      var sparql = "SELECT " +
        "?ark (?prodId AS ?identifiant) ?titre WHERE { " +
        "?ark sparcontext:hasLastVersion/sparcontext:hasLastRelease ?p." +
        "GRAPH ?g {" +
        "?p a sparstructure:group. " +
        "?p sparcontext:isMemberOf <" + channel + ">. " +
        "?p sparreference:productionIdentifier ?prodId. " +
        "OPTIONAL {?p dc:title ?titre} " +
        "OPTIONAL {?p dc:type ?type} "
      if (originId) {
        sparql += "?p sparreference:productionIdentifier \"" + originId + "\". "
      }
      if (type) {
        sparql += "?p dc:type \"" + type + "\"."
      }
      if (title) {
        sparql += " FILTER(CONTAINS(?titre, \"" + title + "\")) "
      }
      sparql += "} } ORDER BY ?prodId LIMIT 20"
      console.log("SPARQL [" + endpoint + "]: " + sparql)

      // Launch the query and invoke render() when results arrived
      $.getJSON(endpoint, { query: sparql }).done(render)
    }
    
    function render(json) {
      $button.attr("disabled", null)
      $table.bootstrapTable('hideLoading')

      $table.bootstrapTable('load', json)
    }
    // 
    
    $(function () {
        initTable();
    });
  </script>
{% endblock %}


