{% extends "base.html" %}
{% block content %}
  {% if access_platform and not access_platform == 'None' %}
  <div class="card mt-2">
  <p class="card-subtitle mx-2 my-1">
  {{ _('Give the ARK of your METS in the platform %(platform)s to download it. As soon as you no longer need to view the contents of this METS file, you can delete it from the main page.', platform=access_platform) }}
  </p>
  <form id="form1" action = "/retrievesuccess" method="POST" enctype="multipart/form-data">
    <div class="form-group mx-1 my-1">
      <label for="ark" class="control-label">{{ _('Ark Identifier') }}</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text " id="ark-addon">{{ ark_prefix }}</span>
        </div>
        <input type="text" class="form-control form-control-sm" name="ark" id="ark" aria-describedby="ark-addon" placeholder="br2d22g" pattern="b[0-9bcdfghijkmnpqrstvwxz]+" title= "{{ _('Valid ARK is in the form bxxxx.') }}" value="{{ ark }}" />
        <div class="input-group-append">
          <a class="btn btn-success" href="/search" role="button"><span class="fa fa-search"></span> {{ _('Search') }}</a>
        </div>
      </div>
    </div>
    <div class="form-group mx-1 my-1">
      <label for="nickname">{{ _('Nickname (this is optional, but will make your METS file easier to find in the list):') }}</label>
      <input type="text" class="form-control form-control-sm" id="nickname" name="nickname"/>
    </div>
    <button type="submit" id="btnSubmit" class="btn btn-primary mx-1 my-1">{{ _('Submit') }}</button>
    <!-- <button type="submit" id="btnExplore" class="btn btn-primary mx-1 my-1">{{ _('Explore') }}</button> -->
  </form>
  </div>
  <hr class="mx-2 my-2" />
  {% endif %}
  <div class="card mt-2">
  <p class="card-subtitle mx-2 my-1">
  {{ _('Upload a file below to begin exploring the contents of your METS files. As soon as you no longer need to view the contents of this METS file, you can delete it from the main page.') }}
  </p>
  <form action = "/uploadsuccess" method="POST" enctype="multipart/form-data">
    <div class="form-group mx-1 my-1">
      <label for="file">{{ _('File:') }}</label>
      <input type="file" name="file" id="file"/>
    </div>
    <div class="form-group mx-1 my-1">
      <label for="nickname">{{ _('Nickname (this is optional, but will make your METS file easier to find in the list):') }}</label>
      <input type="text" class="form-control form-control-sm" id="nickname" name="nickname"/>
    </div>
    <button type="submit" class="btn btn-primary mx-1 my-1">{{ _('Submit') }}</button>
  </form>
  </div>

  <script>
    // onReady function
    $(function () {
      activeNavItem('upload');
      $("#btnExplore").click(function(e) {
        $('#form1').prop('action', '/explore');
      });
    });
  </script>
{% endblock %}
